.menu_button {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    background: transparent;
    border: 0;
    z-index: 15;

    fill: $gray;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    transform: translateY(-100%);
    transition: transform ease-in-out 250ms;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: stretch;
    background: rgba($accent, 0.90);
}

nav li {
    text-align: right;

    &:not(:last-of-type) {
        //border-right: 1px solid $white;
    }
}

nav li a:hover {
    color: $dark-blue;
    transition: color ease-in-out 200ms;
}

nav a {
    display: inline-block;
    text-decoration: none;
    @include sans-serif($fs : 1.5rem, $colour: $white);
    padding: calc(20vh/8) 0;
    line-height: 0;
    width: 100%;
    transition: color ease-in-out 200ms;
}

.x_icon {
    display: none;
    position: fixed;
}

.nav_is_open {
    //height: 100vh;
    //overflow-y: hidden;

    nav {
        transform: translate(0);
        transition: transform ease-in-out 250ms;
    }

    .container_all {
        //transform: translateY(1%);
    }

    .menu_icon {
        display: none;
    }

    .x_icon {
        display: block;
    }

    .menu_button {
        transform: translate(20%);
    }
}

/*.container_all {
    transition: transform ease-in-out 250ms;
}*/

.menu_button:hover {
    fill: $dark-blue;
    transition: fill ease-in-out 200ms;
}