.portfolio {
    text-align: center;
    background-color: $light-gray;
    padding: 5em 0;
}

.portfolio_items {
    display: flex;
    flex-wrap: wrap;
    @include container($max-width: 75em);
}

.portfolio_item {
    position: relative;
    overflow: hidden;

    margin: 0;

    flex: 1 1 10rem;

    img {
        display: block;
        width: 100%;
    } 

    figcaption {
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2em;
        background: rgba($accent, .75);
        color: $white;
        text-align: left;
        display: flex;
        flex-direction: column;
        transition: top ease-in-out 400ms;
    }

    &:hover figcaption,
    &:focus figcaption {
        top: 0;
    }

}

.portfolio_title {
    color: $white;
    font-size: 1.5rem;
    font-weight: $fw-b;
    margin-bottom: auto;

    .featured & {
        font-size: 6rem;
    }
}

.portfolio_descr {
    line-height: 0;
    .featured & {
        line-height: 0;
        display: contents;
    }
}

.portfolio_link {
    color: $white;
    font-weight: $fw-b;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 2px solid $white;
    align-self: flex-start;

    // Figure out how to put an icon for the link
}

@supports (display: grid) {
    .portfolio_items {
        display: grid;
        grid-template-columns: repeat(2, minmax(15em, 1fr));

        @include mq($width:1000px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .portfolio_item.featured {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .portfolio_header h1 {
        @include title_box($p_top_bottom : 15px);
        //max-width: 7em;
        width: 6em;
        margin: 0 auto;
        margin-bottom: 0.75em;
        align-self: center;
    }

    .portfolio_descr {
        @include mq($width: 1200px) {
            font-size: 14px;
            display: contents;
            line-height: 0;
            .featured & {
                font-size: 24px;
            }
        }
    }
}