@mixin container($width: 90%, $max-width: 50em) {
    width: $width;
    margin: 0 auto;
    max-width: $max-width;
}

@mixin clearfix() {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin title_box($p_top_bottom: 0, $p_left : 0) {
    background: $white;
    border-style: solid;
    border-color: $dark-blue;
    box-shadow: -7px 7px 0px $accent;
    padding: $p_top_bottom 0;
    padding-left: $p_left;
}

@mixin mq($width: 50em) {
    @media (min-width:$width) {
        @content;
    }
}